/*NAVBAR*/
nav {
    background-color:#808080;
    color:#F8F8FF;
}
.logo {
    
}
.name {
    
}
.menuFull {
      color:#F8F8FF;
}
.menuBar {
    
}
.right {
    text-align: right;
}
/*JUMBOTRONS*/
.jumbotron-fluid {
    position:relative;
    color:#F8F8FF;
}

h1{
    position: absolute;
}
h3{
    position: absolute;
}

/*LANDING PAGE TEXT*/

/*FOOTER*/